<footer>
        <div class="left">
          powered by <a href="https://aniketdvd.github.io/web-ams">Webams</a>
        </div>
        <div class="right">
          WebAMS <%=version%>
        </div>
      </footer>