<nav>
      <form action="/logout?_method=DELETE" method="POST">
        <div class="left">
          <span class="logo">WebAMS</span>
        </div>
        <div class="right">
          <div class="menu">
            <a href="/">Home</a>
            <a href="https://aniketdvd.github.io/web-ams" target="_blank">Blog</a>
            <button type="submit"><i class="fa fa-sign-out"></i>Log Out</button>
          </div>
        </div>
      </form>
    </nav>