<nav>
      <div class="left">
        <span class="logo">WebAMS</span>
      </div>
      <div class="right">
        <div class="menu">
          <a href="#!">Home</a>
          <a href="https://aniketdvd.github.io/web-ams" target="_blank">Blog</a>
        </div>
      </div>
    </nav>