<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/404.css">
    <title>WebAMS | Need a map?</title>
</head>
<body>
    <h1>You may not be at the right place</h1>
    <h3>But no issues. <a href='/'>Click here to go back</a></h3>
</body>
</html>