<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebAMS dashboard | foo</title>
  </head>
  <body>
    <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>

    <form action="/report">
      <div class="action-card" onclick="javascript:this.parentNode.submit();">
        <div class="action-card--icon">
          <img src="" alt="">
        </div>
        <div class="action-card--title">
          Report an incedent
        </div>
        <div class="action-card--subtitle">
          Generate a new ticket for an incedent
        </div>
      </div>
    </form>

    <form action="/history" method="POST">
      <div class="action-card" onclick="javascript:this.parentNode.submit();">
        <div class="action-card--icon">
          <img src="" alt="">
        </div>
        <div class="action-card--title">
          Previous incedents
        </div>
        <div class="action-card--subtitle">
          Incedents reported earlier
        </div>
      </div>
    </form>

    <form action="/feedback" method="POST">
      <div class="action-card" onclick="javascript:this.parentNode.submit();">
        <div class="action-card--icon">
            <img src="" alt="">
        </div>
        <div class="action-card--title">
          Feedback
        </div>
        <div class="action-card--subtitle">
          Generate an honest feedback for supporting team
        </div>
      </div>
    </form>
    
  </body>
</html>