<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Install WebAMS</title>
</head>
<body>
    <nav>
        
    </nav>
    <header>

    </header>
    <main>
        <form action="/">
            <div>
                <label for="dbhost">Database host:</label>
                <input type="url" required>
            </div>
            <div>
                <label for="dbport">Port: </label>
                <input type="number" required>
            </div>
            <div>
                <label for="dbuser">Database username: </label>
                <input type="text" required>
            </div>
            <div>
                <label for="dbuser">Database name: </label>
                <input type="text" required>
            </div>
            <div>
                <label for="dbpassword">Databse passsword: </label>
                <input type="password">
            </div>
            <button type="submit">
                Install WebAMS
            </button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>