<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/elements.css">
    <title>WebAMS Login</title>
  </head>
  <body>
    <main> 
     
      <% if (messages.error) { %> 
        <%= messages.error %> 
      <% } %> 
      <div class="login-form">
      <form action="/login" method="POST" >
       <h1 class="heading">Login</h1> 
       <p><input type="email" id="email" name="email" required placeholder="Email Address"></p>   
       <p><input type="password" id="password" name="password" required placeholder="password"> </p>
       <button type="submit">Login</button> 
       <a href="/register">or Create an Account</a> 
      </form> 
      </div>
    </main> 
  
   
  </body>
</html>