<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/elements.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebAMS Login</title>
  </head>
  <body>
    <nav>
      <div class="left">
        <span class="logo">WebAMS</span>
      </div>
      <div class="right">
        <div class="menu">
          <a href="#!">Home</a>
          <a href="#!">Blog</a>
        </div>
      </div>
    </nav>
    <main> 
     
      <% if (messages.error) { %> 
        <%= messages.error %> 
      <% } %> 
      <div class="login-form">
      <form action="/login" method="POST" >
       <h1 class="heading">Login</h1> 
       <p><input type="email" id="email" name="email" required placeholder="Email Address"></p>   
       <p><input type="password" id="password" name="password" required placeholder="password"> </p>
       <button type="submit">Login</button> 
       <a href="/register">Register</a> 
      </form> 
      </div>
    </main> 
  
    <footer>
      <div class="left">
        powered by <a href="aniketdvd.github.io/web-ams">Webams</a>
      </div>
      <div class="right">
        WebAMS <%=version%>
      </div>
    </footer>
  </body>
</html>