<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/element.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebAMS Login</title>
  </head>
  <body>
    <nav>

    </nav>
    <main> 
      <h1>Login</h1> 
      <% if (messages.error) { %> 
        <%= messages.error %> 
      <% } %> 
      <form action="/login" method="POST"> 
        <table>
          <tr>
            <td><label for="email">Email</label></td> 
            <td><input type="email" id="email" name="email" required></td> 
          </tr>
          <tr>
            <td><label for="password">Password</label></td> 
            <td><input type="password" id="password" name="password" required></td> 
          </tr>
         </table>
        <button type="submit">Login</button> 
        <a href="/register">Register</a> 
      </form> 
      
    </main> 
  
    <footer>
      
    </footer>
  </body>
</html>