<html lang="en">
<head>
    <%- include partials/Meta.ejs %>
    <%- include partials/LinkResources.ejs %>
    <title>Generate a new ticket</title>
</head>
<body>
    <%- include partials/NavLoggedIn.ejs %>
    <main>
      <div class="container">
        <form method="POST" action="/newticket">
            <h1>Report an Incident</h1>
            <p class="separator">Generate a ticket for new incident</p>
            <p><input type="text" placeholder="title" name="title" maxlength="99"> </p>
            <p><textarea name="description" placeholder="Description-be as brief as possible" rows=5 cols="45" maxlength="999"></textarea></p>
            <p>
                <select name="priority">
                    <option>Priority</option>
                    <option>Low</option>
                    <option>Normal</option>
                    <option>Important</option>
                    <option>Critical</option>
                    <option>Extreme</option>
                </select>
            </p>
                <button type="submit">Create incident</button>
            <a href="/">Cancel</a> 
        </form>
        </div>
    </main>
    <%- include partials/Footer.ejs %>
</body>
</html>