<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/elements.css">
    <title>WebAMS registration</title>
  </head>
  <body>
    <nav>
      <div class="left">
        <span class="logo">WebAMS</span>
      </div>
      <div class="right">
        <div class="menu">
          <a href="#!">Home</a>
          <a href="#!">Blog</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="register-form">
      <form action="/register" method="POST">
        <h1 class="heading">Register</h1>
           <p> <input type="text" id="name" placeholder="Name" name="name" required></p>
           <p><input type="email" id="email" placeholder="email" name="email" required></p>
           <p> <input type="password" id="password" placeholder="password" name="password" required></p>
           <p><input type="password" id="confirmPassword" placeholder="confirmPassword" name="confirmPassword" required></p>
        <button type="submit">Register</button>
        <a href="/login"> Login</a>
      </form>
      <blockquote> Account creation involves verification by
        <br>support, which may take time. You will be
         <br>informed once your account is ready to use.
      </blockquote>
    </div>
    </main>
    <footer>
      <div class="left">
        powered by <a href="aniketdvd.github.io/web-ams">Webams</a>
      </div>
      <div class="right">
        WebAMS <%=version%>
      </div>
    </footer>
  </body>
</html>