<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/elements.css">
    <title>WebAMS registration</title>
  </head>
  <body>
    <nav>

    </nav>
    <main>
      <h1>Register</h1>
      <form action="/register" method="POST">
        <table>
          <tr>
              <td><label for="name">Name</label></td>
              <td><input type="text" id="name" name="name" required></td>
           </tr>
           <tr>
              <td> <label for="email">Email</label></td>
              <td> <input type="email" id="email" name="email" required></td>
           </tr>
           <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password" id="password" name="password" required></td>
           </tr>
           <tr>
              <td><label for="password">Confirm Password</label></td>
              <td><input type="password" id="confirmPassword" name="confirmPassword" required></td>
           </tr>
        </table>
        <button type="submit">Register</button>
      </form>
      <a href="/login">Login</a>
    </main>
    <footer>
      
    </footer>
  </body>
</html>