<html lang="en">
<head>
    <title>Review tickets</title>
</head>
<body>
    <main>
      <div class="container">
        <h1>Reviewing Incident id:</h1>
          <p class="separator">Issue:</p>
          <select name="changeStatus">
            <option>change status</option>
            <option>Assigned</option>
            <option>In progress</option>
            <option>Won't fix</option>
            <option>Resolved</option>
        </select>
          <select name="changePriority">
            <option>change priority</option>
            <option>Low</option>
            <option>Normal</option>
            <option>Important</option>
            <option>Critical</option>
            <option>Extreme</option>
        </select>
        <button type="submit">Update Incident</button>
      </div>
    </main>
    <footer>
        <div class="left">
          powered by <a href="aniketdvd.github.io/web-ams">Webams</a>
        </div>
        <div class="right">
          WebAMS <%=version%>
        </div>
      </footer>
</body>
</html>