<html lang="en">
<head>
    <%- include partials/Meta.ejs %>
    <%- include partials/LinkResources.ejs %>
    <title>Review tickets</title>
</head>
<body>
    <%- include partials/NavLoggedIn.ejs %>
    <main>
      <div class="container">
        <h1>Reviewing Incident id:</h1>
          <p class="separator">Issue:</p>
          <select name="changeStatus">
            <option>change status</option>
            <option>Assigned</option>
            <option>In progress</option>
            <option>Won't fix</option>
            <option>Resolved</option>
        </select>
          <select name="changePriority">
            <option>change priority</option>
            <option>Low</option>
            <option>Normal</option>
            <option>Important</option>
            <option>Critical</option>
            <option>Extreme</option>
        </select>
        <button type="submit">Update Incident</button>
      </div>
    </main>
    <%- include partials/Footer.ejs %>
</body>
</html>