button {  
    margin-top: 32px;
    margin-right: 18px;
    box-shadow: var(--shadow-std);
    margin-bottom: 60px;
}
input {
    outline: none;
    margin-top: 12px;
    padding-bottom: 8px;
    border: 0;
    margin-bottom: 18px;
    border-bottom: 1px solid #3c3c3c;
}
blockquote{
    background-color:#dddddd;
    padding: 18px;
    float: left;
    margin-bottom: 50px;
    border-left:3px solid var(--accent-dark);
}
.action-card{
background-color: #fff;
margin-bottom: 21px;
padding:20px;
cursor: pointer;
width:400px;
height:60px;
border-radius: 3pt;
box-shadow: var(--shadow-std);
}
.action-card--icon{
    float: left;
    height: 63px;
    width: 63px;
    margin-right: 20px;
    border-radius: 100pt;
   
}
.action-card--icon img {
    margin:10px;
    height:50px;
    width:50px;
}
.action-card--title{
    color: var(--accent-dark);
    font-weight: 900;
}
.action-card--subtitle{
    color: var(--accent-dark);
}