footer{
    color: #dddddd;
    background-color: var(--accent-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer a{
    color: var(--accent-light);
}

footer > .left, footer > .right {
    margin-left: 140px;
    margin-right: 140px;
}