.heading{
    margin-bottom: 32px;
   } 
   .separator{
       margin-top: 16px;
       margin-bottom: 32px;
   }
   .login-form{
       background: #fff;
       margin-top: 15vh;
       padding-top: 60px;
       padding-right: 60px;
       padding-left: 60px;
       border-radius: 3pt;
       width:320px;
       height: 320px;
       float:right;
       box-shadow: var(--shadow-std);
   }
   .login-form p{
       margin: 0;
       outline: none;
   }
   .login-form a, .register-form a{
       color:var(--accent-dark);
   }
   .register-form{
    background: #fff;
    margin-top: 35px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 3pt;
    height: max-content;
    float:left;
    width: calc(100% - 140px);
    box-shadow: var(--shadow-std);
   }