nav {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.logo{
    font-weight: 700;
}
 .left{
    float: left;

}
.right{
    float: right;
}
.right a, .right button {
    margin-left: 20px;
    color: #fff;
}
nav form {
    height: 0;
    width: 100%;
}
nav form button{
    margin-top: 0;
}