
@font-face{
    font-family: worksans;
    src: url('/static/fonts/WorkSans-Regular.ttf');
  }
@font-face{
   font-family: worksansbold;
   src: url('/static/fonts/WorkSans-Bold.ttf');
}
:root{
  --accent-light:#98b197;
  --accent-dark:#464646;
}